<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <textarea method="POST" action="/index">
    <textarea name="Piglatinizer" form="user_text">Type phrase here</textarea>
    <input type="submit" id="Submit">
    </form>
  </body>
</html>